<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Inicio
</h2>
<h2 class="ui sub header">
  Price
</h2>
<span>$10.99</span>


<div class="ui vertical animated button" tabindex="0">
  <div class="">
  <%= link_to "Shop", products_path, class:'hidden content' %>
  </div>
  <div class="visible content">
    <i class="shop icon"></i>
   </div>
</div>
